#newsletter {
	max-width: 550px;
	margin: auto;
	text-align: center;
	color: @banner;
	h2 {
		font-size: 32px;
		font-weight: bold;
	}
	h3 {
		margin-top: 10px;
		font-size: 21px;
	}
	p {
		font-size: 16px;
		margin: 20px 0;
		line-height: 1.4;
	}
}

#mce-EMAIL {
	border-radius: 4px;
	border: 2px solid #ddd;
	height: 36px;
	width: 250px;
}

#mc-embedded-subscribe {
	background: @banner;
	color: white;
}