@import "variables.less";

body {
	counter-reset: item;
}

.survey-2018 {
	// color: @blue-dark;
	font-family: @serif-font-stack;
	font-size: 16px;
	@media all and (max-width: 599px) {
		font-size: 14px;
	}
	p {
		margin: 0;
		font-size: 1.2em;
	}
	section {
		padding: 3em;
		// background: #182F57;
		background: white;
		&:nth-child(odd) {
			background: #f0f0f0;
		}
		&:nth-child(1) {
			background: @blue-dark;
			color: white;
		}
		@media all and (max-width: 600px) {
			padding: 1em;
		}
	}
	h1,h2,h3,h4,h5,h6 {
		margin-bottom: 1.5em;
	}
	.callout {
		font-size: 4em;
	}
	h4 {
		font-size: 1.5em;
	}
	.survey-header {
		padding-top: 48px;
	}
	.grid {
		display: flex;
		flex-wrap: wrap;
		.grid-item-1-3 {
			flex: 1 0 300px;
			min-width: 0;
			// min-width: 300px;
			max-width: 700px;
			width: 100%;
			padding: 24px;
			&.grow {
				flex-grow: 1;
			}
		}
		.grid-item-1-6 {
			flex: 1 0 16.666%;
			min-width: 150px;
			width: 100%;
			padding: 6px;
			@media all and (max-width: 999px) {
				flex: 1 0 33%;
			}
		}
		.grid-item-2-3 {
			flex: 1 0 66%;
			width: 100%;
			padding: 24px;
		}
		.grid-item-1-2 {
			flex: 1 0 50%;
			min-width: 400px;
			width: 100%;
			padding: 24px;
		}
		.grid-item-3-3 {
			width:100%;
		}
		&.countries {
			align-items: center;
			text-align: center;
			margin: 96px 0;
			h3 {
				font-weight: normal;
				margin: 0 auto 1.5px;
				font-size: 3em;
				letter-spacing: 1px;
			}
			h4 {
				margin: 0;
				font-size: 1.5em;
				font-weight: normal;
			}
		}
	}
	.graph {
		text-align: center;
		h3 {
			margin-bottom: .5em;
		}
		h4 {
			opacity: .5;
			font-size: 1.2em;
			margin: 1em auto 2em;
			max-width: 300px;
		}
		&.align-left {
			text-align: left;
			h4 {
				margin: 0 0 2em;
				max-width: 500px;
			}
		}
	}
	.graph-wrapper {
		width: 100%;
		max-height: 300px;
		margin-bottom: 4em;
		canvas {
			height: 500px;
		}
		h4 {
			text-align: center;
		}
	}
	.country-tile {
		height: 150px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	#logo {
		width: 100%;
		max-width: 650px;
		display:inline-block;
		margin: 0 auto 48px; 
	}
	.summary {
		margin-bottom: 48px;
	}
	.message {
		span {
			display: inline-block;
			margin-top: 24px;
			font-family: @title-font-stack;
			font-weight: bold;
			font-size: 1.5em;
		}
	}
	.wrapper.small {
		max-width: 960px;
		padding: 96px 0;
	}
	.section-header {
		// display: flex;
		align-items: center;
		// margin-bottom: 96px;
		h2 {
			display: inline-block;
			margin: 0 auto 2em;
		}
		.line {
			display: inline-block;
			height: 4px;
			background-color: fade(@blue-dark, 25%);
			max-width: 150px;
			width: 200px;
			margin-left: 16px;
			vertical-align:middle;
			margin-bottom:12px;
		}
		h4 {
			opacity: .3;
			max-width: 400px;
		}
		p {
			margin-bottom: 3em;
		}
	}
	.table-of-contents {
		font-family: @body-font-stack;
		font-size: 1.3em;
		column-count: 2;
		column-width: 400px;
		.number-list {
			color: @blue-primary;
			margin-right: 16px;
			width: 24px;
			// text-align: right;
			display: inline-block;
		}
		li {
			margin-bottom: 20px;
		}
		a {
			text-decoration: none;
		}
	}
	.main-insights {
		margin: 1.5em auto 6em;
		li {
			font-family: @body-font-stack;
			font-size: 1.3em;
			display: flex;
			margin-bottom: 1em;
			svg {
				margin-right: .5em;
				width: 36px;
				height: 36px;
				flex: 0 0 auto;
				path {
					fill: @blue-steel;
				}
			}
			span {
				margin-top: .25em;
				line-height: 1.5em;
			}
		}
	}
}

.survey-2017 {
	.survey-header {
		background-color: #1F3E71;
		color: white;
		padding: 48px 20px 72px;
		text-align: center;
		background-image: url("/assets/images/tools-tile-dark.png");
		background-size: cover;
		background-position: center center;
		box-shadow: inset 0 -10px 15px rgba(0,0,0,.35);
		h1 {
			font-family: @serif-font-stack;
			font-weight: bold;
			font-size: 72px;
			letter-spacing: 1px;
			margin-bottom: 48px;
			margin-top: 24px;
			@media all and (max-width: 599px) {
				font-size: 48px;
			}
		}
		h4 {
			text-transform: uppercase;
			letter-spacing: 5px;
		}
		.spacer {
			width: 200px;
			height: 4px;
			background-color: @yellow;
			margin: 24px auto;
		}
	}

	h2 {
			margin-top: 72px;
		}

	.small-caps {
		font-family: @body-font-stack;
		font-size: .8em;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: bold;
	}

	.introduction {
		background-color: #f0f0f0;
		margin: -72px auto 0;
		padding: 24px 48px;
		border-radius: 10px;
		max-width: 796px;
		@media all and (max-width: 599px) {
			padding: 0 24px;
		}
		&:first-child {
	    &:first-letter {
	      float: left;
	      font-size: 4em;
	      margin-right: 5px;
	      margin-bottom: -10px;
	      font-weight: normal;
	      line-height: 1;
	      text-transform: uppercase;
	      font-family: @serif-font-stack;
	    }
	  }
	}

	.blog-post {
		margin-top: 0;
	}

	ol {
		list-style: none;
		margin: 24px 0;
		li {
			counter-increment: item;
			margin-left: 40px;
			position: relative;
			&:before {
				margin-right: 10px;
				position: absolute;
				top: 0;
				left: -40px;
				content: counter(item, upper-roman);
				color: #ccc;
				font-family: @body-font-stack;
				min-width: 40px;
				display: inline-block;
			}
		}
	}

	canvas {
		margin: 48px 0;
		height: 400px;
		@media all and (max-width: 599px) {
			margin: 24px 0;
		}
	}

	.columns-2 {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		> * {
			flex: 0 1 48%;
			min-width: 325px;
			@media all and (max-width: 699px) {
				min-width: 100%;
			}
		}
	}
	.canvas-wrapper {
		max-height: 300px;
		width: 100%;
	}

	.toolkit-cards {
		margin-left: 0;
		margin-bottom: 48px;
		li {
			display: flex;
			align-items: center;
			margin-top: 24px;
			img {
				flex: 0 0 auto;
				margin: 0 10px 0 0;
				width: 30px
			}
			> div {
				flex: 1 0 auto;
			}
			h6 {
				color: #999;
				text-transform: uppercase;
				font-size: 14px;
				letter-spacing: 1px;
				margin: 0;
			}
			h5 {
				margin-top: 2px;
			}
		}
	}
}