/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
#logo {
  width: 165px;
}
@media all and (max-width: 500px) {
  #logo {
    width: 140px;
  }
}
#main-header {
  width: 100%;
  color: white;
  line-height: 1.2;
  background: #4285F4;
  flex-shrink: 0;
}
#main-header a {
  color: white;
  text-decoration: none;
}
#main-header .icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
#main-header .icon svg {
  fill: white;
}
#main-header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}
#main-header li {
  display: inline-block;
}
#main-header li:last-of-type {
  padding-right: 0;
}
#main-header li span {
  height: 56px;
  margin-right: 10px;
  display: inline-block;
  border-bottom: 4px solid transparent;
  padding-top: 16px;
  padding-left: 10px;
  padding-right: 10px;
  transition: border 0.2s;
  font-size: 18px;
  color: white;
}
#main-header li a.router-link-active span {
  border-bottom: 4px solid white;
  color: white;
}
#main-header .left a {
  display: flex;
  align-items: center;
}
#main-header .right {
  text-align: right;
}
#main-header .right li a {
  color: white;
}
#main-header .right svg {
  position: relative;
  top: -2px;
}
#main-header .bottom-bar {
  background: #3267D6;
  position: relative;
  z-index: 3;
}
#main-header .bottom-bar span {
  color: rgba(255, 255, 255, 0.75);
  margin-right: 5px;
}
@media all and (max-width: 899px) {
  #main-header .right {
    display: none;
  }
}
#main-header #tab-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#main-header #tab-container ul {
  display: flex;
  padding: 0 20px;
}
#main-header #tab-container ul li {
  display: inline-block;
}
#main-header #tab-container ul li span {
  font-size: 16px;
}
#main-header #tab-container .tab-left {
  flex: 0 1 auto;
  overflow: scroll;
}
#main-header #tab-container .tab-right {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
  border-left: 1px solid #3267D6;
}
#main-header #tab-container .tab-right button svg {
  margin-left: -4px;
  top: 0;
}
@media all and (max-width: 899px) {
  #main-header #tab-container .tab-right {
    display: none;
  }
}
#hamburger {
  display: flex;
  align-items: center;
  height: 48px;
  cursor: pointer;
}
#hamburger svg,
#hamburger span {
  vertical-align: middle;
}
@media all and (min-width: 900px) {
  #hamburger {
    display: none;
  }
}
@media all and (max-width: 500px) {
  #hamburger {
    font-size: 14px;
  }
}
#sidebar.show-menu .shade {
  right: 0;
  opacity: 1;
  background: rgba(0, 0, 0, 0.25);
  transition: background 0.25s ease-in-out;
}
#sidebar.show-menu .container {
  transform: translateX(-250px);
}
#sidebar .shade {
  position: fixed;
  z-index: 4;
  top: 0;
  opacity: 0;
  right: -100vw;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
  transition: right 0.01s 0.25s, opacity 0.01s 0.25s, background 0.25s ease-in-out;
}
#sidebar .container {
  padding-top: 5px;
  width: 250px;
  height: 100vh;
  background: #4285F4;
  position: fixed;
  top: 0;
  right: -250px;
  box-shadow: -5px 0px 20px rgba(0, 0, 0, 0.25);
  transition: transform 0.25s ease-in-out;
}
#sidebar li {
  display: block;
  height: auto;
}
#sidebar li a {
  padding: 10px 20px 0;
  display: inline-block;
}
#sidebar li span {
  font-size: 16px;
  padding: 0;
  height: 40px;
}
#sidebar svg {
  vertical-align: middle;
  margin-right: 5px;
}
#sidebar svg path {
  fill: white;
}
#sidebar .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
}
#survey-banner {
  background-color: #FFC108;
  color: #5a5a5a;
  padding: 10px;
  text-align: center;
  font-size: 16px;
}
#survey-banner a {
  color: inherit;
  text-decoration: underline;
  font-weight: bold;
}
body {
  color: #3D4752;
  font-family: "Karla", Roboto, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Karla", Roboto, Helvetica, sans-serif;
  line-height: 1.2;
  margin-top: 30px;
  font-weight: bold;
  letter-spacing: -0.05rem;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 24px;
  letter-spacing: -0.025rem;
}
p {
  line-height: 1.6;
  margin: 30px 0;
}
a {
  color: inherit;
}
.no-underline {
  text-decoration: none;
}
time {
  display: block;
  text-transform: uppercase;
  color: #bbb;
  font-weight: bold;
  font-family: "PT Sans", Roboto, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
}
time.small {
  font-size: 14px;
}
@media all and (max-width: 899px) {
  time {
    font-size: 14px;
  }
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
blockquote {
  padding-left: 30px;
  border-left: 4px solid #555;
  font-style: italic;
}
@media all and (max-width: 767px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 21px;
  }
}
@media all and (max-width: 500px) {
  h1 {
    font-size: 28px;
  }
  h3 {
    font-size: 21px;
    margin-top: 10px;
  }
  h4 {
    font-size: 18px;
  }
  p {
    margin: 20px 0;
  }
}
ol {
  list-style-type: decimal;
  margin-left: 20px;
}
pre {
  background: #f0f0f0;
  font-family: "Menlo", monospace;
  font-size: 14px;
  padding: 20px;
  width: 100%;
  overflow: scroll;
}
hr {
  border: 0;
}
hr:before {
  content: '...';
  display: block;
  margin: 40px 0;
  text-align: center;
  letter-spacing: 10px;
}
input {
  border: 2px solid #ddd;
  border-radius: 3px;
  text-indent: 10px;
  font-size: 16px;
  font-family: "Karla", Roboto, Helvetica, sans-serif;
  color: #555;
  height: 48px;
  box-shadow: none;
}
.blog-post {
  display: flex;
  flex-direction: column;
  align-content: center;
  font-family: "PT Serif", Garamond, sans-serif;
  margin: 100px auto 0;
  padding: 20px;
  font-size: 21px;
  line-height: 1.6;
}
.blog-post .blog-content {
  max-width: 700px;
  width: 100%;
  margin: auto;
  padding: 0;
}
.blog-post .blog-content figure {
  text-align: center;
}
.blog-post .blog-content img {
  max-width: 100%;
  margin: 20px auto 0 auto;
}
.blog-post.guide .cover-image {
  max-width: 700px;
}
.blog-post .cover-image {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 50px;
}
.blog-post .cover-image img {
  width: 100%;
}
.blog-post ul {
  margin: 20px 0 0 20px;
  list-style-type: disc;
}
.blog-post li {
  margin-bottom: 10px;
}
.blog-post aside {
  font-size: 16px;
  color: #999;
  font-style: italic;
}
@media all and (max-width: 899px) {
  .blog-post {
    margin-top: 20px;
  }
}
@media all and (max-width: 767px) {
  .blog-post {
    font-size: 18px;
  }
}
@media all and (max-width: 500px) {
  .blog-post {
    font-size: 16px;
  }
}
.social-sharing {
  text-align: center;
  margin: 30px 0;
}
.social-sharing button {
  margin: 0 5px 20px;
}
header.blog {
  margin-top: 100px;
}
@media all and (max-width: 500px) {
  header.blog {
    margin-top: 20px;
  }
}
button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
  background: white;
  color: #3267D6;
  border: none;
  outline: none;
  border-radius: 3px;
  font-family: "Karla", Roboto, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  min-height: 48px;
  padding: 10px 30px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.2s;
  position: relative;
  top: 0;
}
@media all and (max-width: 500px) {
  button,
  input[type="submit"] {
    width: 100%;
    font-size: 16px;
  }
}
button svg,
input[type="submit"] svg {
  margin-left: 5px;
  vertical-align: middle;
  position: relative;
  top: -2px;
}
button svg path,
input[type="submit"] svg path {
  fill: #4285F4;
}
button a,
input[type="submit"] a {
  text-decoration: none;
}
button.icon-left svg,
input[type="submit"].icon-left svg {
  margin: 0 5px 0 0;
}
button:hover,
input[type="submit"]:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}
button:focus,
input[type="submit"]:focus {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}
button.right,
input[type="submit"].right {
  border-radius: 0 3px 3px 0;
}
@media all and (max-width: 500px) {
  button.right,
  input[type="submit"].right {
    border-radius: 3px;
    margin-top: 20px;
    min-width: 100%;
    flex-grow: 1;
  }
}
button.blue,
input[type="submit"].blue {
  background: #4285F4;
  color: white;
}
button.blue svg path,
input[type="submit"].blue svg path {
  fill: white;
}
button.light-blue,
input[type="submit"].light-blue {
  background: #78ACFF;
  color: white;
}
button.light-blue svg path,
input[type="submit"].light-blue svg path {
  fill: white;
}
button.small,
input[type="submit"].small {
  min-height: 32px;
  font-size: 16px;
  padding: 0 18px;
}
button.white,
input[type="submit"].white {
  border: 1px solid #eee;
}
.screen-reader {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.promotions-are-blocked .promotion-missing {
  display: block;
}
.promotion-missing {
  display: none;
  padding: 0 20px;
}
.promotion-missing .content {
  max-width: 750px;
  background: #f0f0f0;
  margin: auto;
  text-align: center;
  padding: 30px 10px;
  border: 1px solid #ccc;
}
.promotion-missing p {
  margin: 10px 0 0;
  font-size: 14px;
  line-height: 1.2;
}
.promotion-missing h4 {
  font-size: 16px;
  margin: 0;
}
#signup-form {
  background: #f0f0f0;
  padding-top: 30px;
  text-align: center;
}
#signup-form form {
  max-width: 500px;
  margin: auto;
}
#signup-form input,
#signup-form button {
  width: 100%;
  margin: 10px 0;
}
#signup-form .subscription-form {
  background-color: transparent !important;
  border-color: transparent !important;
  font-family: "Karla", Roboto, Helvetica, sans-serif !important;
  width: 100% !important;
  max-width: 550px !important;
  padding: 0 !important;
}
#signup-form * {
  font-family: inherit !important;
}
#signup-form .subscription-form-content {
  line-height: 1.4;
}
#signup-form .sender-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
#signup-form input {
  font-size: 16px;
}
@media all and (max-width: 499px) {
  #signup-form h4 {
    font-size: 21px;
  }
  #signup-form button {
    font-size: 16px;
  }
}
body {
  counter-reset: item;
}
.survey-2018 {
  overflow-x: hidden;
  font-family: "PT Serif", Garamond, sans-serif;
  font-size: 16px;
}
@media all and (max-width: 599px) {
  .survey-2018 {
    font-size: 14px;
  }
}
.survey-2018 p {
  margin: 0;
  font-size: 1.2em;
}
.survey-2018 section {
  padding: 2em;
  background: white;
}
.survey-2018 section:nth-child(odd) {
  background: #f0f0f0;
}
.survey-2018 section:nth-child(1) {
  background: #1F3E71;
  color: white;
}
@media all and (max-width: 600px) {
  .survey-2018 section {
    padding: 1em;
  }
}
.survey-2018 h1,
.survey-2018 h2,
.survey-2018 h3,
.survey-2018 h4,
.survey-2018 h5,
.survey-2018 h6 {
  margin-bottom: 1.5em;
}
.survey-2018 .callout {
  font-size: 4em;
}
.survey-2018 h4 {
  font-size: 1.5em;
}
.survey-2018 .survey-header {
  padding-top: 48px;
}
.survey-2018 .grid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.survey-2018 .grid .grid-item-1-3 {
  flex: 0 0 300px;
  min-width: 0;
  max-width: 700px;
  width: 100%;
  padding: 24px;
}
.survey-2018 .grid .grid-item-1-3.grow {
  flex-grow: 1;
}
.survey-2018 .grid .grid-item-1-6 {
  flex: 1 0 16.666%;
  min-width: 150px;
  width: 100%;
  padding: 6px;
}
@media all and (max-width: 999px) {
  .survey-2018 .grid .grid-item-1-6 {
    flex: 1 0 33%;
  }
}
@media all and (max-width: 599px) {
  .survey-2018 .grid .grid-item-1-6 {
    min-width: 0;
  }
}
.survey-2018 .grid .grid-item-2-3 {
  flex: 1 0 66%;
  width: 100%;
  padding: 24px;
}
.survey-2018 .grid .grid-item-1-2 {
  flex: 1 0 50%;
  min-width: 400px;
  width: 100%;
  padding: 24px;
}
@media all and (max-width: 699px) {
  .survey-2018 .grid .grid-item-1-2 {
    min-width: 200px;
  }
}
.survey-2018 .grid .grid-item-3-3 {
  width: 100%;
}
.survey-2018 .grid.countries {
  align-items: center;
  text-align: center;
  margin: 96px 0;
}
.survey-2018 .grid.countries h3 {
  font-weight: normal;
  margin: 0 auto 1.5px;
  font-size: 3em;
  letter-spacing: 1px;
}
.survey-2018 .grid.countries h4 {
  margin: 0;
  font-size: 1.5em;
  font-weight: normal;
}
@media all and (max-width: 599px) {
  .survey-2018 .grid.countries img {
    max-width: 100%;
  }
}
.survey-2018 .graph {
  text-align: center;
}
.survey-2018 .graph h3 {
  margin-bottom: 0.5em;
}
.survey-2018 .graph h4 {
  opacity: 0.5;
  font-size: 1.2em;
  margin: 1em auto 2em;
  max-width: 300px;
}
.survey-2018 .graph.align-left {
  text-align: left;
}
.survey-2018 .graph.align-left h4 {
  margin: 0 0 2em;
  max-width: 500px;
}
.survey-2018 .graph-wrapper {
  width: 100%;
  max-height: 300px;
  margin-bottom: 4em;
}
.survey-2018 .graph-wrapper canvas {
  height: 500px;
}
.survey-2018 .graph-wrapper h4 {
  text-align: center;
}
.survey-2018 .country-tile {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.survey-2018 .logo-tile {
  text-align: center;
  margin: auto;
}
.survey-2018 .logo-tile h3 {
  margin-bottom: 0;
}
.survey-2018 .logo-tile h4 {
  opacity: 0.5;
  margin-top: 0.5em;
  min-height: 2.5em;
}
.survey-2018 .logo-tile .logo-wrapper {
  overflow: hidden;
  border-radius: 0.5em;
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}
.survey-2018 .logo-tile .logo-wrapper:hover {
  transform: scale(1.1);
}
.survey-2018 .logo-tile .logo-wrapper img {
  width: 80%;
  padding: 1em 0;
}
.survey-2018 .logo-tile.description {
  text-align: left;
}
.survey-2018 .logo-tile.description p {
  flex: 1 0 auto;
}
.survey-2018 .logo-tile.description > div {
  flex: 0 0 250px;
}
.survey-2018 #logo {
  width: 100%;
  max-width: 650px;
  display: inline-block;
  margin: 0 auto 48px;
}
.survey-2018 .summary {
  margin-bottom: 48px;
}
.survey-2018 .message span {
  display: inline-block;
  margin-top: 24px;
  font-family: "Karla", Roboto, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}
.survey-2018 .wrapper.small {
  max-width: 960px;
  padding: 6em 0;
}
.survey-2018 .section-header {
  align-items: center;
}
.survey-2018 .section-header h2 {
  display: inline-block;
  margin: 1em auto 2em;
}
.survey-2018 .section-header .line {
  display: inline-block;
  height: 4px;
  background-color: rgba(31, 62, 113, 0.25);
  max-width: 150px;
  width: 200px;
  margin-left: 16px;
  vertical-align: middle;
  margin-bottom: 12px;
}
.survey-2018 .section-header h4 {
  opacity: 0.3;
  max-width: 400px;
}
.survey-2018 .section-header p {
  margin-bottom: 3em;
}
.survey-2018 .table-of-contents {
  font-family: "Karla", Roboto, Helvetica, sans-serif;
  font-size: 1.3em;
  column-count: 2;
  column-width: 400px;
}
.survey-2018 .table-of-contents .number-list {
  color: #4285F4;
  margin-right: 16px;
  width: 24px;
  display: inline-block;
}
.survey-2018 .table-of-contents li {
  margin-bottom: 20px;
}
.survey-2018 .table-of-contents a {
  text-decoration: none;
}
.survey-2018 .main-insights {
  margin: 1.5em auto 6em;
}
.survey-2018 .main-insights li {
  font-family: "Karla", Roboto, Helvetica, sans-serif;
  font-size: 1.3em;
  display: flex;
  margin-bottom: 1em;
}
.survey-2018 .main-insights li svg {
  margin-right: 0.5em;
  width: 36px;
  height: 36px;
  flex: 0 0 auto;
}
.survey-2018 .main-insights li svg path {
  fill: #3d4752;
}
.survey-2018 .main-insights li span {
  margin-top: 0.25em;
  line-height: 1.5em;
}
.survey-2018 #sign-up {
  background: #1F3E71;
}
.survey-2018 #sign-up * {
  font-family: "Karla", Roboto, Helvetica, sans-serif !important;
  color: white;
  font-size: 16px;
  text-align: center;
}
.survey-2018 #sign-up .subscription-form {
  background: #1F3E71;
  border: 0;
  width: 100%;
  max-width: 500px;
}
.survey-2018 #sign-up h4 {
  font-size: 2em;
  margin-bottom: 0em;
}
.survey-2018 #sign-up button {
  background: #4285F4;
  color: white !important;
}
.survey-2018 #sign-up .subscription-form-content {
  line-height: 1.4;
  margin-bottom: 2em;
}
.survey-2018 #sign-up input {
  color: #3d4752;
  text-align: left;
}
.survey-2018 .promotion-missing {
  font-family: "Karla", Roboto, Helvetica, sans-serif;
  padding: 0;
  width: 100%;
}
.survey-2018 .promotion-missing h4 {
  margin-bottom: 1em;
}
.survey-2018 .promotion-missing .content {
  max-width: none;
}
.survey-2017 .survey-header {
  background-color: #1F3E71;
  color: white;
  padding: 48px 20px 72px;
  text-align: center;
  background-image: url("/assets/images/tools-tile-dark.png");
  background-size: cover;
  background-position: center center;
  box-shadow: inset 0 -10px 15px rgba(0, 0, 0, 0.35);
}
.survey-2017 .survey-header h1 {
  font-family: "PT Serif", Garamond, sans-serif;
  font-weight: bold;
  font-size: 72px;
  letter-spacing: 1px;
  margin-bottom: 48px;
  margin-top: 24px;
}
@media all and (max-width: 599px) {
  .survey-2017 .survey-header h1 {
    font-size: 48px;
  }
}
.survey-2017 .survey-header h4 {
  text-transform: uppercase;
  letter-spacing: 5px;
}
.survey-2017 .survey-header .spacer {
  width: 200px;
  height: 4px;
  background-color: #FFC108;
  margin: 24px auto;
}
.survey-2017 h2 {
  margin-top: 72px;
}
.survey-2017 .small-caps {
  font-family: "Karla", Roboto, Helvetica, sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}
.survey-2017 .introduction {
  background-color: #f0f0f0;
  margin: -72px auto 0;
  padding: 24px 48px;
  border-radius: 10px;
  max-width: 796px;
}
@media all and (max-width: 599px) {
  .survey-2017 .introduction {
    padding: 0 24px;
  }
}
.survey-2017 .introduction:first-child:first-letter {
  float: left;
  font-size: 4em;
  margin-right: 5px;
  margin-bottom: -10px;
  font-weight: normal;
  line-height: 1;
  text-transform: uppercase;
  font-family: "PT Serif", Garamond, sans-serif;
}
.survey-2017 .blog-post {
  margin-top: 0;
}
.survey-2017 ol {
  list-style: none;
  margin: 24px 0;
}
.survey-2017 ol li {
  counter-increment: item;
  margin-left: 40px;
  position: relative;
}
.survey-2017 ol li:before {
  margin-right: 10px;
  position: absolute;
  top: 0;
  left: -40px;
  content: counter(item, upper-roman);
  color: #ccc;
  font-family: "Karla", Roboto, Helvetica, sans-serif;
  min-width: 40px;
  display: inline-block;
}
.survey-2017 canvas {
  margin: 48px 0;
  height: 400px;
}
@media all and (max-width: 599px) {
  .survey-2017 canvas {
    margin: 24px 0;
  }
}
.survey-2017 .columns-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.survey-2017 .columns-2 > * {
  flex: 0 1 48%;
  min-width: 325px;
}
@media all and (max-width: 699px) {
  .survey-2017 .columns-2 > * {
    min-width: 100%;
  }
}
.survey-2017 .canvas-wrapper {
  max-height: 300px;
  width: 100%;
}
.survey-2017 .toolkit-cards {
  margin-left: 0;
  margin-bottom: 48px;
}
.survey-2017 .toolkit-cards li {
  display: flex;
  align-items: center;
  margin-top: 24px;
}
.survey-2017 .toolkit-cards li img {
  flex: 0 0 auto;
  margin: 0 10px 0 0;
  width: 30px;
}
.survey-2017 .toolkit-cards li > div {
  flex: 1 0 auto;
}
.survey-2017 .toolkit-cards li h6 {
  color: #999;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  margin: 0;
}
.survey-2017 .toolkit-cards li h5 {
  margin-top: 2px;
}
.ui-kit {
  padding: 0;
}
@media all and (max-width: 768px) {
  .ui-kit {
    font-size: 0.875em;
  }
}
.ui-kit header {
  background: #1F3E71;
  color: white;
  padding: 50px 20px;
  padding-bottom: 15%;
}
.ui-kit header > div {
  max-width: 550px;
  margin: auto;
}
.ui-kit header h2 {
  font-family: "PT Serif", Garamond, sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.4;
}
.ui-kit header .buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 36px;
}
.ui-kit header .buttons button:first-of-type {
  margin-right: 20px;
}
@media all and (max-width: 600px) {
  .ui-kit header .buttons button {
    width: 100%;
  }
  .ui-kit header .buttons button:first-of-type {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.ui-kit .framer-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
  vertical-align: middle;
}
.ui-kit .framer-button.inline {
  margin: 5em auto;
}
.ui-kit .framer-button img {
  width: 32px;
  margin-right: 10px;
}
.ui-kit .floating-hero {
  display: block;
  width: 100%;
  max-width: 960px;
  margin-top: -10%;
  margin-left: auto;
  margin-right: auto;
}
.ui-kit article {
  max-width: 740px;
  margin: auto;
  padding: 0 20px;
  text-align: center;
}
.ui-kit article p {
  max-width: 575px;
  margin-left: auto;
  margin-right: auto;
  font-family: "PT Serif", Garamond, sans-serif;
}
.ui-kit article ul {
  column-count: 3;
  line-height: 2.5;
  font-weight: bold;
  column-width: 150px;
  margin: 3em auto;
}
.ui-kit article figure img {
  max-width: 100%;
  margin-bottom: 5em;
}
body {
  font-size: 18px;
}
footer p {
  text-align: center;
  font-size: 14px;
  opacity: 0.5;
  transition: opacity 0.2s;
}
footer p:hover {
  opacity: 1;
}
@media all and (max-width: 500px) {
  section {
    padding: 20px;
  }
}
section.light {
  color: #555;
  background: white;
}
section.gray {
  margin-top: 40px;
  background: #eee;
}
.wrapper {
  max-width: 1200px;
  margin: auto;
}
.wrapper.small {
  max-width: 600px;
}
.wrapper.small button {
  margin-top: 20px;
}
.wrapper.medium {
  max-width: 800px;
}
.tile-grid {
  margin-bottom: 144px;
}
.tile-grid-row {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.tile-grid-item {
  flex: 1 0 300px;
  padding: 20px;
}
.tile-grid-item.two-thirds {
  flex: 1 0 66.666%;
}
.tile-grid-item.one-third {
  flex: 1 0 300px;
}
.tile-grid-item.one-half {
  flex: 1 1 500px;
}
.tile-grid-item .tile-grid-item-content {
  background: #ccc;
  border-radius: 16px;
  min-height: 350px;
  padding: 20px 40px 40px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  position: relative;
  overflow: hidden;
}
.tile-grid-item .tile-grid-item-content img {
  position: absolute;
}
.tile-grid-item .tile-grid-item-content button {
  margin-top: 30px;
}
.tile-grid-item .tile-grid-item-content .text-wrapper {
  max-width: 360px;
  position: relative;
  z-index: 2;
}
.tile-grid-item .tile-grid-item-content.white {
  background-color: white;
}
.tile-grid-item .tile-grid-item-content.white img {
  width: 70%;
  bottom: -5%;
  right: 0%;
  opacity: 0.15;
}
.tile-grid-item .tile-grid-item-content.gray {
  background-color: #f0f0f0;
}
.tile-grid-item .tile-grid-item-content.blue {
  color: white;
  background-image: linear-gradient(-45deg, #77BBFA 0%, #4285F4 100%);
}
.tile-grid-item .tile-grid-item-content.blue img {
  width: 90%;
  bottom: -5%;
  right: -15%;
  opacity: 0.15;
}
.tile-grid-item .tile-grid-item-content.blue-dark {
  background-color: #1F3E71;
  color: white;
}
.tile-grid-item .tile-grid-item-content.blue-dark img {
  right: -10%;
  bottom: -20%;
  width: 80%;
  opacity: 0.2;
}
.tile-grid-item .tile-grid-item-content #signup-form {
  text-align: left;
  max-width: 500px;
}
.tile-grid-item .tile-grid-item-content #signup-form .subscription-form-content {
  display: none;
}
.tile-grid-item .tile-grid-item-content #signup-form .subscription-thank-you {
  margin-top: 30px;
}
.hero {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
.hero h1 {
  margin: 0 auto 20px auto;
  max-width: 550px;
  font-size: 36px;
}
@media all and (max-width: 500px) {
  .hero h1 {
    font-size: 32px;
  }
}
#guide-icon {
  display: block;
  margin: 30px auto 0;
  width: 100%;
  max-width: 150px;
}
@media all and (max-width: 500px) {
  #guide-icon {
    max-width: 80px;
  }
}
.blog-preview {
  max-width: 1075px;
  margin: auto;
}
.blog-preview ul {
  display: flex;
  margin: 40px auto;
}
@media all and (max-width: 1023px) {
  .blog-preview ul {
    display: block;
    text-align: center;
  }
}
.blog-preview li {
  width: 33%;
  flex: 0 1 auto;
  padding: 0 1.5%;
  margin-bottom: 40px;
}
@media all and (max-width: 1023px) {
  .blog-preview li {
    width: 100%;
    max-width: 500px;
    margin: 0 auto 40px;
  }
}
.blog-preview li .image-container {
  padding-bottom: 66%;
  position: relative;
  background: #ddd;
  border-radius: 8px;
  overflow: hidden;
}
.blog-preview li .image-container.loading {
  animation: pulse 1.5s infinite;
}
.blog-preview li .image-container figure {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
}
.blog-preview li img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.blog-preview li h4 {
  margin: 10px auto;
  text-align: left;
}
.blog-preview li a {
  text-decoration: none;
}
.blog-preview li p {
  font-family: "PT Serif", Garamond, sans-serif;
}
.blog-preview.large li {
  width: 100%;
  max-width: none;
  padding: 0;
}
.blog-preview.large h4 {
  margin-top: 0;
}
@media all and (max-width: 767px) {
  .blog-preview.large .blog-preview-flex {
    display: block;
  }
  .blog-preview.large .blog-preview-flex .image-container {
    padding-bottom: 66%;
  }
  .blog-preview.large .blog-preview-flex .blog-preview-img {
    margin: 0 0 20px;
  }
}
.blog-preview .blog-preview-flex {
  display: flex;
}
.blog-preview .blog-preview-flex .blog-preview-img {
  flex: 1 0 200px;
  margin-right: 20px;
}
.blog-preview .blog-preview-flex .image-container {
  padding-bottom: 100%;
}
.blog-preview .read-more {
  color: #4285F4;
}
.field-guide img {
  width: 100%;
  margin-top: 20px;
}
.field-guide .intro-text {
  font-family: "PT Serif", Garamond, sans-serif;
}
.field-guide a {
  text-decoration: none;
}
.field-guide li {
  margin-bottom: 30px;
}
.field-guide .table-of-contents {
  margin: 50px 0 100px;
}
.field-guide .table-of-contents h4 {
  color: #999;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
}
.field-guide .table-of-contents h5 {
  color: #4285F4;
  font-size: 24px;
  display: flex;
  align-items: center;
}
.field-guide .table-of-contents h3 {
  margin-top: 0;
}
.field-guide .table-of-contents .long-bar {
  height: 2px;
  background-color: #4285F4;
  display: inline-block;
  width: 50px;
  margin-left: 5px;
}
.back-to-guide a {
  text-decoration: none;
  color: #999;
  display: flex;
  align-items: center;
}
.back-to-guide svg {
  fill: #999;
}
.disqus-comments {
  max-width: 700px;
  margin: auto;
}
@keyframes pulse {
  0% {
    background: #ddd;
  }
  50% {
    background: #bbb;
  }
  100% {
    background: #ddd;
  }
}
/*# sourceMappingURL=style.css.map */