/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
#logo {
  width: 165px;
}
@media all and (max-width: 500px) {
  #logo {
    width: 140px;
  }
}
#main-header {
  width: 100%;
  color: white;
  line-height: 1.2;
  background: #4285F4;
  flex-shrink: 0;
}
#main-header a {
  color: white;
  text-decoration: none;
}
#main-header .icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
#main-header .icon svg {
  fill: white;
}
#main-header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}
#main-header li {
  display: inline-block;
}
#main-header li:last-of-type {
  padding-right: 0;
}
#main-header li span {
  height: 56px;
  margin-right: 10px;
  display: inline-block;
  border-bottom: 4px solid transparent;
  padding-top: 16px;
  padding-left: 10px;
  padding-right: 10px;
  transition: border 0.2s;
  font-size: 18px;
  color: white;
}
#main-header li a.router-link-active span {
  border-bottom: 4px solid white;
  color: white;
}
#main-header .left a {
  display: flex;
  align-items: center;
}
#main-header .right {
  text-align: right;
}
#main-header .right li a {
  color: white;
}
#main-header .right svg {
  position: relative;
  top: -2px;
}
#main-header .bottom-bar {
  background: #3267D6;
  position: relative;
  z-index: 3;
}
#main-header .bottom-bar span {
  color: rgba(255, 255, 255, 0.75);
  margin-right: 5px;
}
@media all and (max-width: 899px) {
  #main-header .right {
    display: none;
  }
}
#main-header #tab-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#main-header #tab-container ul {
  display: flex;
  padding: 0 20px;
}
#main-header #tab-container ul li {
  display: inline-block;
}
#main-header #tab-container ul li span {
  font-size: 16px;
}
#main-header #tab-container .tab-left {
  flex: 0 1 auto;
  overflow-x: scroll;
  -ms-overflow-style: none;
}
#main-header #tab-container .tab-right {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
  border-left: 1px solid #3267D6;
}
#main-header #tab-container .tab-right button svg {
  margin-left: -4px;
  top: 0;
}
@media all and (max-width: 899px) {
  #main-header #tab-container .tab-right {
    display: none;
  }
}
#hamburger {
  display: flex;
  align-items: center;
  height: 48px;
  cursor: pointer;
}
#hamburger svg,
#hamburger span {
  vertical-align: middle;
}
@media all and (min-width: 900px) {
  #hamburger {
    display: none;
  }
}
@media all and (max-width: 500px) {
  #hamburger {
    font-size: 14px;
  }
}
#sidebar.show-menu .shade {
  right: 0;
  opacity: 1;
  background: rgba(0, 0, 0, 0.25);
  transition: background 0.25s ease-in-out;
}
#sidebar.show-menu .container {
  transform: translateX(-250px);
}
#sidebar .shade {
  position: fixed;
  z-index: 4;
  top: 0;
  opacity: 0;
  right: -100vw;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
  transition: right 0.01s 0.25s, opacity 0.01s 0.25s, background 0.25s ease-in-out;
}
#sidebar .container {
  padding-top: 5px;
  width: 250px;
  height: 100vh;
  background: #4285F4;
  position: fixed;
  top: 0;
  right: -250px;
  box-shadow: -5px 0px 20px rgba(0, 0, 0, 0.25);
  transition: transform 0.25s ease-in-out;
}
#sidebar li {
  display: block;
  height: auto;
}
#sidebar li a {
  padding: 10px 20px 0;
  display: inline-block;
}
#sidebar li span {
  font-size: 16px;
  padding: 0;
  height: 40px;
}
#sidebar svg {
  vertical-align: middle;
  margin-right: 5px;
}
#sidebar svg path {
  fill: white;
}
#sidebar .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
}
#survey-banner {
  background-color: #FFC108;
  color: #5a5a5a;
  padding: 10px;
  text-align: center;
  font-size: 16px;
}
#survey-banner a {
  color: inherit;
  text-decoration: underline;
  font-weight: bold;
}
body {
  color: #3D4752;
  font-family: "Karla", Roboto, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Karla", Roboto, Helvetica, sans-serif;
  line-height: 1.2;
  margin-top: 30px;
  font-weight: bold;
  letter-spacing: -0.05rem;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 24px;
  letter-spacing: -0.025rem;
}
p {
  line-height: 1.6;
  margin: 30px 0;
}
a {
  color: inherit;
}
.no-underline {
  text-decoration: none;
}
time {
  display: block;
  text-transform: uppercase;
  color: #bbb;
  font-weight: bold;
  font-family: "PT Sans", Roboto, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
}
time.small {
  font-size: 14px;
}
@media all and (max-width: 899px) {
  time {
    font-size: 14px;
  }
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
blockquote {
  padding-left: 30px;
  border-left: 4px solid #555;
  font-style: italic;
}
@media all and (max-width: 767px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 21px;
  }
}
@media all and (max-width: 500px) {
  h1 {
    font-size: 28px;
  }
  h3 {
    font-size: 21px;
    margin-top: 10px;
  }
  h4 {
    font-size: 18px;
  }
  p {
    margin: 20px 0;
  }
}
ol {
  list-style-type: decimal;
  margin-left: 20px;
}
pre {
  background: #f0f0f0;
  font-family: "Menlo", monospace;
  font-size: 14px;
  padding: 20px;
  width: 100%;
  overflow: scroll;
}
hr {
  border: 0;
}
hr:before {
  content: '...';
  display: block;
  margin: 40px 0;
  text-align: center;
  letter-spacing: 10px;
}
input {
  border: 2px solid #ddd;
  border-radius: 3px;
  text-indent: 10px;
  font-size: 16px;
  font-family: "Karla", Roboto, Helvetica, sans-serif;
  color: #555;
  height: 48px;
  box-shadow: none;
}
.blog-post {
  display: flex;
  flex-direction: column;
  align-content: center;
  font-family: "PT Serif", Garamond, sans-serif;
  margin: 100px auto 0;
  padding: 20px;
  font-size: 21px;
  line-height: 1.6;
}
.blog-post .blog-content {
  max-width: 700px;
  width: 100%;
  margin: auto;
  padding: 0;
}
.blog-post .blog-content figure {
  text-align: center;
}
.blog-post .blog-content img {
  max-width: 100%;
  margin: 20px auto 0 auto;
}
.blog-post.guide .cover-image {
  max-width: 700px;
}
.blog-post .cover-image {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 50px;
}
.blog-post .cover-image img {
  width: 100%;
}
.blog-post ul {
  margin: 20px 0 0 20px;
  list-style-type: disc;
}
.blog-post li {
  margin-bottom: 10px;
}
.blog-post aside {
  font-size: 16px;
  color: #999;
  font-style: italic;
}
@media all and (max-width: 899px) {
  .blog-post {
    margin-top: 20px;
  }
}
@media all and (max-width: 767px) {
  .blog-post {
    font-size: 18px;
  }
}
@media all and (max-width: 500px) {
  .blog-post {
    font-size: 16px;
  }
}
.social-sharing {
  text-align: center;
  margin: 30px 0;
}
.social-sharing button {
  margin: 0 5px 20px;
}
header.blog {
  margin-top: 100px;
}
@media all and (max-width: 500px) {
  header.blog {
    margin-top: 20px;
  }
}
button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
  background: white;
  color: #3267D6;
  border: none;
  outline: none;
  border-radius: 3px;
  font-family: "Karla", Roboto, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  min-height: 48px;
  padding: 10px 30px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.2s;
  position: relative;
  top: 0;
}
@media all and (max-width: 500px) {
  button,
  input[type="submit"] {
    width: 100%;
    font-size: 16px;
  }
}
button svg,
input[type="submit"] svg {
  margin-left: 5px;
  vertical-align: middle;
  position: relative;
  top: -2px;
}
button svg path,
input[type="submit"] svg path {
  fill: #4285F4;
}
button a,
input[type="submit"] a {
  text-decoration: none;
}
button.icon-left svg,
input[type="submit"].icon-left svg {
  margin: 0 5px 0 0;
}
button:hover,
input[type="submit"]:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}
button:focus,
input[type="submit"]:focus {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}
button.right,
input[type="submit"].right {
  border-radius: 0 3px 3px 0;
}
@media all and (max-width: 500px) {
  button.right,
  input[type="submit"].right {
    border-radius: 3px;
    margin-top: 20px;
    min-width: 100%;
    flex-grow: 1;
  }
}
button.blue,
input[type="submit"].blue {
  background: #4285F4;
  color: white;
}
button.blue svg path,
input[type="submit"].blue svg path {
  fill: white;
}
button.light-blue,
input[type="submit"].light-blue {
  background: #78ACFF;
  color: white;
}
button.light-blue svg path,
input[type="submit"].light-blue svg path {
  fill: white;
}
button.small,
input[type="submit"].small {
  min-height: 32px;
  font-size: 16px;
  padding: 0 18px;
}
button.white,
input[type="submit"].white {
  border: 1px solid #eee;
}
.screen-reader {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.promotions-are-blocked .promotion-missing {
  display: block;
}
.promotion-missing {
  display: none;
  padding: 0 20px;
}
.promotion-missing .content {
  max-width: 750px;
  background: #f0f0f0;
  margin: auto;
  text-align: center;
  padding: 30px 10px;
  border: 1px solid #ccc;
}
.promotion-missing p {
  margin: 10px 0 0;
  font-size: 14px;
  line-height: 1.2;
}
.promotion-missing h4 {
  font-size: 16px;
  margin: 0;
}
#signup-form {
  background: #f0f0f0;
  padding-top: 30px;
  text-align: center;
}
#signup-form form {
  max-width: 500px;
  margin: auto;
}
#signup-form input,
#signup-form button {
  width: 100%;
  margin: 10px 0;
}
body {
  font-family: "Karla", Roboto, Helvetica, sans-serif;
  color: #333;
}
body,
html {
  position: relative;
  display: flex;
}
#main-header {
  position: sticky;
  position: -webkit-sticky;
  left: 0px;
  width: 100vw;
  z-index: 10;
}
h1 {
  position: absolute;
  text-indent: -9999px;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
  padding: 0 20px;
}
@media all and (max-width: 500px) {
  .wrapper {
    padding: 0 10px;
  }
}
section {
  position: relative;
}
.filters {
  position: absolute;
  top: 14px;
  left: 13px;
  z-index: 1;
  cursor: pointer;
}
table {
  width: 100%;
  font-size: 14px;
  font-family: "Roboto";
  color: #3d4752;
  background: white;
  border-collapse: initial;
}
table a {
  text-decoration: none;
  color: inherit;
}
table td,
table th {
  min-width: 120px;
  height: 50px;
  text-align: left;
  white-space: nowrap;
  cursor: default;
  padding: 8px;
}
table td div,
table th div {
  display: inline-block;
}
table td {
  padding: 8px;
  vertical-align: middle;
  vertical-align: top;
}
table td span {
  display: inline-block;
  height: 24px;
  padding-top: 4px;
}
table td.fixed-col {
  min-width: 0;
  width: 50px;
  border-top: none;
  border-right: none;
  margin-top: 1px;
  max-width: 50px;
  padding: 0;
  text-align: center;
  z-index: 2;
  transition: box-shadow 0.2s;
  position: sticky;
  position: -webkit-sticky;
  left: 0;
  background: white;
  border-right: 1px solid #eee;
}
table td.fixed-col img {
  width: 36px;
  margin: 8px;
  background: url('/assets/images/logo-sprites.png') no-repeat;
  background-size: 536px;
}
table td.name-col {
  padding-top: 12px;
}
table th {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 3;
  vertical-align: top;
  background-color: #fafafa;
  border-bottom: 1px solid #eee;
}
table th:first-of-type {
  min-width: 50px;
  width: 50px;
}
table th span {
  display: inline-block;
}
table th span .sort-arrow {
  position: absolute;
  right: -30px;
  top: -5px;
}
table th svg {
  fill: #ccc;
}
table th.sorted svg {
  fill: #4285F4;
}
table thead {
  border-bottom: 1px solid #eee;
  z-index: 3;
  top: 0;
  background: white;
  font-weight: bold;
  font-size: 14px;
}
table tbody tr {
  position: relative;
}
table tbody tr:hover td {
  background: #fafafa;
}
table tbody tr td {
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
table tr:last-of-type td {
  border-bottom: 1px solid #eee;
}
table img {
  width: 24px;
}
table svg {
  fill: #555;
}
table svg.yes {
  fill: #05CE7C;
}
table svg.no {
  fill: #eee;
}
table svg.semi {
  fill: #FCC438;
}
table .pricing-col {
  min-width: 56px;
}
table .pricing-col * {
  vertical-align: middle;
}
table .colspan-2 {
  min-width: 70px;
}
table .colspan-3 {
  min-width: 105px;
}
table .colspan-4 {
  min-width: 140px;
}
table .colspan-5 {
  min-width: 175px;
}
table .colspan-7 {
  min-width: 245px;
}
table .colspan-8 {
  min-width: 280px;
}
table .flex-wrapper {
  display: flex;
}
table .flex-col {
  width: 30px;
  text-align: center;
  position: relative;
}
table .bar {
  height: 24px;
}
table .blue-bar {
  background: #4285F4;
  min-width: 2px;
}
.zero-state {
  background: #f0f0f0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 15%;
  border: 1px solid #ccc;
}
.zero-state svg {
  fill: #ccc;
  transform: scale(2);
}
.zero-state h4 {
  margin-top: 24px;
  color: #999;
}
#loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  flex-direction: column;
}
#loading-screen svg {
  margin-bottom: 20px;
}
.new-tool {
  font-size: 14px;
  color: #4285F4;
  height: 50px;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 50px;
}
.new-tool svg {
  fill: currentColor;
  margin: 0 13px;
}
.promotion-wrapper {
  position: sticky;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.tooltip {
  display: none;
  opacity: 0;
  transition: opacity 0.15s, margin 0.15s;
  pointer-events: none;
  padding: 4px;
  z-index: 10;
  font-size: 12px;
  text-align: center;
  line-height: 1.2;
  margin-top: -4px;
}
.tooltip .tooltip-content {
  background: rgba(51, 51, 51, 0.9);
  color: white;
  border-radius: 4px;
  padding: 5px 10px 6px;
}
.tooltip.tooltip-open-transitionend {
  display: block;
}
.tooltip.tooltip-after-open {
  opacity: 1;
  margin-top: 0;
}
.notes {
  font-family: 'Roboto Condensed', 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: normal;
  margin: 4px 0 0;
  white-space: normal;
  line-height: 1;
  opacity: 0.66;
}
/*# sourceMappingURL=tools.css.map */